img {
    max-width: 250px;
    max-height: 250px;
}

.hobbies {
    color: rgb(6, 126, 6);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;


}

.intro {
    color: rgb(6, 126, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.highlight {
    background-color: rgb(223, 155, 223);
    font-weight: bold;
}

.emphasize {
    font-family: 'Times New Roman', Times, serif;
}

.about-me {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 126, 6);
    text-align: left;
    border: 2px solid green;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
}

.Indy {
    float: left;
    padding-right: 1%;
    margin: auto
}

.hogwarts {
    float: left;
    max-width: 250px;
    padding-right: 2%;
    margin: auto;

}

.experience {
    text-align: left;

}